$bgBack: #24242c;
$bgFront: #31313b;
$fontNormal: #9e9e9e;
$fontHovered: white;
$red: #FF4651;
$green: #48EA8B;

// animations
@keyframes blob {
  0%, 100% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.12, .94);
  }
  60% {
    transform: scale(.96, 1.06);
  }
}

@keyframes blobChecked {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  30% {
    transform: scaleX(1.44);
  }
  70% {
    transform: scaleX(1.18);
  }
  50%,
  99% {
    transform: scaleX(1);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Consolas", "Menlo", sans-serif;
  color: white;
  -webkit-font-smoothing: greyscaled;

  // include margin & padding to size of element
  box-sizing: border-box;
  &:after, &:before {
    box-sizing: border-box;
  }
}

body {
  background: $bgBack;
  width: 100%;
  height: 100%;
}

#close {
  z-index: 0;
  -webkit-app-region: drag;
  float: left;
  width: 100%;
  height: 2rem;
  background: $bgFront;
  align-items: right;
  display: flex;
  justify-content: flex-end;
  .fa-times {
    -webkit-app-region: no-drag;
    float: right;
    color: $fontNormal;
    display: block;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    width: 2rem;
    height: 90%;
    margin-top: 0.25rem;
    &:hover {
      color: $red;
      cursor: pointer;
    }
    &:active {
      color: darken($red, 10%);
      cursor: pointer;
    }
  }
}

nav {
  -webkit-app-region: no-drag;
  z-index: 1;
  background: $bgFront;
  position: fixed;
  top: 2rem;
  left: 0;
  height: 100%;
  width: 8rem;
  #navbarContainer {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      display: block;
      width: 100%;
      padding: 1rem;
      font-size: 18px;
      color: $fontNormal;
      &:hover {
        color: $fontHovered;
        cursor: pointer;
        background: lighten($bgFront, 8%);
      }
    }
  }

}

main {
  position: fixed;
  top: 2rem;
  left: 8rem;
  height: 94.5%;
  width: 84%;
  // border: red solid 2px;
  overflow-y: scroll;

  // scrollbar
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    width: 8px;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.0);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    width: 8px;
    background-color: lighten($bgFront, 8%);
    &:hover {
      background-color: lighten($bgFront, 15%);
    }
  }

  // page title
  #title {
    font-size: 24px;
    margin-top: 1.25rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px lighten($bgFront, 8%) solid;
    padding-bottom: 0.5rem;
  }

  #about, #lastcolors, #favorites, #settings {
    // border: solid blue 2px;

    margin: 1rem 1rem 1rem 1.5rem;
  }


  // about page
  #about {
    // default text
    p {
      font-size: 16px;
    }

    // small info on bottom about
    #info {
      font-size: 14px;
      color: lighten($bgFront, 35%);
      b {
        color: lighten($bgFront, 45%);
      }
    }

    // links in about
    #linkInText {
      color: #33CCff;
      font-weight: bold;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  // last colors & favorite colors page
  #lastcolors, #favorites {

    // both grids
    #grid_last, #grid_fav {
      // border: solid 2px green;

      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-auto-flow: row dense;
      grid-gap: 1rem;

      .field {
        position: relative;

        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }

        #hash {
          font-size: 30px;
          font-weight: bold;
          opacity: 0;
          display: block;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          line-height:100%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          user-select: none;
        }
        &:hover #hash {
          opacity: 1;
          cursor: pointer;
        }
        &:active {
          transform: scale(1.1, 1.1);
        }
      }
    }
  }


}

  #settingsForm {
      #autoLaunchSetting, #ditherSetting, #fontSizeSetting, #fontEnabledSetting, #chooseFromFavoriteSetting {
        border-bottom: 2px rgba(107, 107, 107, 0.15) solid;
        margin-bottom: 1.5rem;

        #grid {
          display: grid;
          grid-template-columns: 7fr 3fr;
          grid-template-rows: 1;
          grid-gap: 1rem;
          width: 100%;

          #left {
            #titleSetting {
              clear: left;
              margin-bottom: 0.25rem;
              font-weight: bold;
              font-size: 17px;
            }

            #desc {
              color: #8a8a8a;
              float: left;
              margin-bottom: 1.5rem;
            }
          }

          #right {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1.5rem;
          }

          #right #inputDiv {
            #default {
              color: #8a8a8a;
              text-align: center;
              font-size: 12px;
              margin-bottom: 5px;
            }

            // to hide arrows & spinners
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
              -webkit-appearance: none;
              -moz-appearance:textfield;
              appearance: none;
              margin: 0;
            }

            input {
              text-align: center;
              font-size: 14px;
              width: 75%;
              background: rgba(255, 255, 255, 0.1);
              color: white;
              border: 2px solid #8a8a8a;
              border-radius: 5px;
              padding: 0.25rem;
              display: block;
              margin : 0 auto;
            }
          }

          #right .switch {
              cursor: pointer;
              transform: scale(1.2, 1.2);
              input {
                display: none;
                & + span {
                  width: 48px;
                  height: 28px;
                  border-radius: 14px;
                  transition: all .3s ease;
                  display: block;
                  position: relative;
                  background: $red;
                  &:before,
                  &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    transition: all .3s ease;
                  }
                  &:before {
                    top: 5px;
                    left: 5px;
                    width: 18px;
                    height: 18px;
                    border-radius: 9px;
                    border: 5px solid #fff;
                  }
                  &:after {
                    top: 5px;
                    left: 32px;
                    width: 6px;
                    height: 18px;
                    border-radius: 40%;
                    transform-origin: 50% 50%;
                    background: #fff;
                    opacity: 0;
                  }
                  &:active {
                    transform: scale(.92);
                  }
                }
                &:checked {
                  & + span {
                    background: $green;
                    &:before {
                      width: 0px;
                      border-radius: 3px;
                      margin-left: 27px;
                      border-width: 3px;
                      background: #fff;
                    }
                    &:after {
                      animation: blobChecked .35s linear forwards .2s;
                    }
                  }
                }
                &:not(:checked) {
                  & + span {
                    &:before {
                      animation: blob .85s linear forwards .2s;
                    }
                  }
                }
              }
          }
        }

      }

      #submitSettings {
        display: block;
        margin : 0 auto;
        margin-bottom: 2rem;
        padding: 0.5rem 1.5rem 0.5rem 1.5rem;
        font-size: 18px;
        color: white;
        border: none;
        background: $bgFront;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: lighten($bgFront, 8%);
        }
        &:active {
          transform: scale(1.1, 1.1);
        }
      }

    // }

  }

// }
